# Copy this file to terraform.tfvars and adjust values as needed.
location            = "eastus"
resource_group_name = "rg-ai-foundry-lab"
ai_services_sku     = "S0"
foundry_account_name_prefix = "foundrylab"
foundry_project_name_prefix = "foundry-demo"
foundry_project_display_name = "foundry-demo"
foundry_project_description  = "Demo project for Azure AI Foundry."
model_deployment_name        = "example-cd"
model_name                   = "gpt-4.1-mini"
model_version                = "2025-04-14"
deployment_sku_name          = "Standard"
public_network_access_enabled = true
assign_current_principal_openai_user_role = true

tags = {
  project = "azure-ai-foundry-lab"
  env     = "lab"
}
